$font-path: "../fonts/"
$prev-icon-path: "../images/icons/previous.svg"
$next-icon-path: "../images/icons/double-arrow.svg"
$never-icon-path: "../images/sitting.svg"

// orange  [rgb(255,149,0), rgb( 255,159,10)]
// purple [rgb(175,82,222), rgb(191,90,242)]
// indigo [rgb(88,86,214),rgb(94,92,230)]
html
  --color-mode: "lit"
  --light: #fdf6e3
  --dark: #657b83
  --gray: #eee8d5
  --bubble: #073642
  --accent: var(--gray)
  --bg: var(--light)
  --bg-dark: #002b36
  --text: #586e75
  --font: 'Metropolis', sans-serif
  --theme: #268bd2
  --ease: cubic-bezier(.19,1,.22,1)

  @mixin darkmode
    --light: #93a1a1
    --color-mode: 'dim'
    --bg: var(--bg-dark)
    --text: #839496
    --accent: #073642
    --theme: #2aa198
    *
      box-shadow: none !important

    main p
      opacity: 0.9

  &[data-mode="dim"]
    @include darkmode
    .color
      &_choice
        &::after
          transform: translateX(1.75rem) scale(1.67)

  @media (prefers-color-scheme: dark)
    &:not([data-mode="lit"])
      @include darkmode
