{{ $p := .Params }}
{{ $image := "thumbnail.svg" }}
{{ $images_dir := "images/" }}
{{ if isset $p "image" }}
  {{ $image = $p.image }}
{{ end }}

{{ $bg := $image }}

{{ if in $image "https://" }}
  {{/* Already a full URL, use as-is */}}
{{ else }}
  {{ $imageBaseURL := site.Params.imageBaseURL | default "" }}
  {{ if $imageBaseURL }}
    {{/* Strip leading slash if present */}}
    {{ $path := strings.TrimPrefix "/" $image }}
    {{/* Strip images/ prefix if present since imageBaseURL handles it */}}
    {{ $path = strings.TrimPrefix "images/" $path }}
    {{ $bg = printf "%s%s" $imageBaseURL $path }}
  {{ else }}
    {{ $bg = (printf "%s%s" $images_dir $image) }}
    {{ if in $image $images_dir }}
      {{ $bg = $image }}
    {{ end }}
    {{ $bg = absURL $bg }}
  {{ end }}
{{ end }}

{{ return $bg }}